<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIX7tbIpwv6voc9aTFm720X55i-x-ykuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1027100831804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreTyped</string>
	<key>PROJECT_ID</key>
	<string>test-firestore-ab141</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firestore-ab141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027100831804:ios:5f31f78a974e5213e1d339</string>
</dict>
</plist>